{% extends 'base.html.twig' %}

{% block body %}
    <div  class="imgFooter">
        <a href="https://www.facebook.com/frenchmustard.delphinegriffet/"><img src="{{ asset('images/if_facebook.png') }}" alt="Facebook de French Mustard"></a>
        <span>Facebook</span>
        <a href="https://www.instagram.com/frenchmustard/"><img src="{{ asset('images/if_instagram.png') }}" alt="Instagram de French Mustard"></a>
        <span>Instagram</span>
        <a href="https://www.youtube.com/channel/UCgbvfi4e25AnVCRxW3d1zdw"><img src="{{ asset('images/if_youtube.png') }}" alt="Youtube de French Mustard"></a>
        <span>Youtube</span>
        <a href="https://www.pinterest.fr/byfrenchmustard/"><img src="{{ asset('images/if_pinterest.png') }}" alt="Pinterest de French Mustard"></a>
        <span>Pinterest</span>
    </div>
{% endblock %}