{% extends 'base.html.twig' %}

{% block body %}
    <div class="navSize">
            <div class="container">
                <h1 class="logo col-xs-6">French Mustard</h1>
                <ul class="nav nav-pills col-xs-6">
                    <li><a href="/" class="aNavColor"><p class="pNav">Accueil</p></a></li>
                    <li><a href="/concept" class="aNavColor"><p class="pNav">Concept</p></a></li>
                    <li><a href="#" class="aNavColor"><p class="pNav">Boutique</p></a></li>
                    <li><a href="/contact" class="aNavColor"><p class="pNav">Contact</p></a></li>
                    <li><a href="#" class="aNavColor"><p class="pNav">Inscription</p></a></li>
                </ul>
            </div>
    </div>
{% endblock %}