{% extends "::base.html.twig" %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="panel panel-default" style="margin-left: 180px; margin-top:50px;width: 900px;">
        <div class="panel-heading">Register
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>
                </div>
            </div>
            <div class="pull-right control group">
                <button type='submit' class='btn btn-success' name="submit">Login</button>
            </div>
        </div>
    </div>
{% endblock %}
